
<div class="row">
  <div class="col-12 col-lg-6">
    <table class="table text-center">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>País</th>
          <th>Tipo de Comida</th>
          <th>Fundación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let restaurante of restaurantes">
          <td >{{ restaurante.id }}</td>
          <td class="show-card" (click)="onSelected(restaurante)">{{ restaurante.name }}</td>
          <td>{{ restaurante.country }}</td>
          <td>{{ restaurante.cuisine }}</td>
          <td>{{ restaurante.opening_year }}</td>
        </tr>
      </tbody>
    </table>
    <p class="info">El restaurante con mejor puntuación es <strong>{{name}}</strong> y tiene <strong>{{rating.toFixed(1)}}</strong> puntos.</p>
  </div>
<div class="col-6" *ngIf="selected">
  <app-restaurante-detail [restauranteDetail]="selectedRestaurante"></app-restaurante-detail></div>
</div>